<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/assets/css/usuarios/cadastro.css">
</head>

<body>
    <%- include('../partials/horizontal-navbar.ejs') %>
    <div class="container">
        <%- include('../partials/vertical-navbar.ejs') %>

        <section class="content">
            <form class="form-usuario">
                <input type="hidden" name="acao" id="acao" value="<%= acao %>">
                <input type="hidden" name="idUsuario" id="idUsuario" value="<%= usuario ? usuario.id_usuario : '' %>">
                <input type="hidden" name="qtdSolicitacoesCpf" id="qtdSolicitacoesCpf" value="<%= qtdSolicitacoesCpf %>">
                <input type="hidden" name="qtdSolicitacoesNome" id="qtdSolicitacoesNome" value="<%= qtdSolicitacoesNome %>">
                <input type="hidden" name="qtdSolicitacoesLogin" id="qtdSolicitacoesLogin" value="<%= qtdSolicitacoesLogin %>">
                <div class="titulo">
                    <div class="label">
                        <h1>Cadastro de Usuário</h1>
                    </div>
                    <div class="area-button">
                        <button id="btnOpcoes" type="button">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <div class="dropdown">
                            <button type="button" class="btn btn-padrao" id="btnAlteraCpf"><span> Editar CPF </span></button>
                            <button type="button" class="btn btn-padrao" id="btnAlteraNome"><span> Editar nome </span></button>
                            <button type="button" class="btn btn-padrao" id="btnAlteraLogin"><span> Editar login </span></button>
                            <button type="button" class="btn btn-padrao" id="btnFoto"><span> Adicionar foto </span></button>
                        </div>
                    </div>
                </div>
                <div class="content-form">
                    <div class="column">
                        <div class="<%= usuario ? 'row-tri' : 'row-duo' %>">
                            <div class="column">
                                <label for="dataCadastro"><%= usuario ? 'Cadastrado em' : 'Data do Cadastro' %></label>
                                <input 
                                    type="text" 
                                    name="dataCadastro" 
                                    id="dataCadastro" 
                                    class="campo readonly" 
                                    value="<%= usuario ? usuario.data_cadastro : '' %>" 
                                    readonly
                                >
                            </div>
                            
                            <% if(usuario) { %>
                                <div class="column status">
                                    <label>Status</label>
                                    <p class="<%= usuario.status_usuario == 1 ? 'ativo' : 'bloqueado' %>">
                                        <%= usuario.status_usuario == 1 ? 'Ativo' : 'Bloqueado' %>
                                    </p>
                                </div>
                            <% } %>
                            
                            <div class="column">
                                <label for="cpfCnpj">CPF <span class="required">*</span></label>
                                <input 
                                    type="text" 
                                    name="cpfCnpj" 
                                    id="cpfCnpj" 
                                    class="campo <%= usuario ? 'readonly' : '' %>"
                                    value="<%= usuario ? usuario.cpf_cnpj : '' %>" 
                                    required 
                                    <%= usuario ? 'readonly' : '' %>
                                >
                            </div>
                        </div>
                        <div class="row">
                            <label for="nome">Nome Completo <span class="required">*</span></label>
                            <input 
                                type="text" 
                                name="nome" 
                                id="nome" 
                                class="campo <%= usuario ? 'readonly' : '' %>"
                                value="<%= usuario ? usuario.nome : '' %>" 
                                required 
                                <%= usuario ? 'readonly' : '' %>
                            >
                        </div>
                        <div class="row">
                            <label for="login">Login <span class="required">*</span></label>
                            <input 
                                type="text" 
                                name="login" 
                                id="login" 
                                class="campo <%= usuario ? 'readonly' : '' %>"
                                value="<%= usuario ? usuario.login : '' %>" 
                                required <%= usuario ? 'readonly' : '' %>
                            >
                        </div>
                        <div class="row">
                            <label for="email">E-mail <span class="required">*</span></label>
                            <input 
                                type="email" 
                                name="email" 
                                id="email" 
                                class="campo"
                                value="<%= usuario ? usuario.email : '' %>" 
                                required
                            >
                        </div>
                        <div class="row-duo">
                            <div class="column">
                                <label for="celular">Celular <span class="required">*</span></label>
                                <input 
                                    type="text" 
                                    name="celular" 
                                    id="celular" 
                                    class="campo" 
                                    value="<%= usuario ? usuario.celular : '' %>" 
                                    required
                                >
                            </div>
                            <div class="column">
                                <label for="telefone">Telefone</label>
                                <input 
                                    type="text" 
                                    name="telefone" 
                                    id="telefone" 
                                    class="campo"
                                    value="<%= usuario ? usuario.telefone : '' %>"
                                >
                            </div>
                        </div>
                        <div class="row-duo">
                            <div class="column">
                                <label for="rg">RG</label>
                                <input 
                                    type="text" 
                                    name="rg" 
                                    id="rg" 
                                    class="campo"
                                    value="<%= usuario ? usuario.rg : '' %>"
                                >
                            </div>
                            <div class="column">
                                <label for="dataRg">Data de Emissão do RG</label>
                                <input 
                                    type="text" 
                                    name="dataRg" 
                                    id="dataRg" 
                                    class="campo"
                                    value="<%= usuario ? usuario.data_rg : '' %>"
                                >
                            </div>
                            
                        </div>
                    </div>
                    <div class="column">
                        <div class="row-duo">
                            <div class="column">
                                <label for="cep">CEP <span class="required">*</span></label>
                                <input 
                                    type="text" 
                                    name="cep" 
                                    id="cep" 
                                    class="campo" 
                                    value="<%= usuario ? usuario.cep : '' %>"
                                    required
                                >
                            </div>
                        </div>
                        <div class="row-duo">
                            <div class="column" id="columnLogradouro">
                                <label for="logradouro">Logradouro <span class="required">*</span></label>
                                <input 
                                    type="text" 
                                    name="logradouro" 
                                    id="logradouro" 
                                    class="campo readonly" 
                                    value="<%= usuario ? usuario.logradouro : '' %>"
                                    required 
                                    readonly
                                >
                            </div>
                            <div class="column" id="columnNumero">
                                <label for="numero">Número <span class="required">*</span></label>
                                <input 
                                    type="text" 
                                    name="numero" 
                                    id="numero" 
                                    class="campo"
                                    value="<%= usuario ? usuario.numero : '' %>"
                                    required
                                >
                            </div>
                        </div>
                        <div class="row">
                            <label for="bairro">Bairro <span class="required">*</span></label>
                            <input 
                                type="text" 
                                name="bairro" 
                                id="bairro" 
                                class="campo readonly"
                                value="<%= usuario ? usuario.bairro : '' %>"
                                required 
                                readonly
                            >
                        </div>
                        <div class="row">
                            <label for="complemento">Complemento</label>
                            <input 
                                type="text" 
                                name="complemento" 
                                id="complemento" 
                                class="campo" 
                                value="<%= usuario ? usuario.complemento : '' %>"
                            >
                        </div>
                        <div class="row-duo">
                            <div class="column" id="columnUF">
                                <label for="estado">UF <span class="required">*</span></label>
                                <select name="estado" id="estado" class="campo readonly" required disabled>
                                    <option class="option" value="AC" <%= usuario ? (usuario.estado == "AC" ? 'selected' : '') : '' %>>AC</option>
                                    <option class="option" value="AL" <%= usuario ? (usuario.estado == "AL" ? 'selected' : '') : '' %>>AL</option>
                                    <option class="option" value="AM" <%= usuario ? (usuario.estado == "AM" ? 'selected' : '') : '' %>>AM</option>
                                    <option class="option" value="AP" <%= usuario ? (usuario.estado == "AP" ? 'selected' : '') : '' %>>AP</option>
                                    <option class="option" value="BA" <%= usuario ? (usuario.estado == "BA" ? 'selected' : '') : '' %>>BA</option>
                                    <option class="option" value="CE" <%= usuario ? (usuario.estado == "CE" ? 'selected' : '') : '' %>>CE</option>
                                    <option class="option" value="DF" <%= usuario ? (usuario.estado == "DF" ? 'selected' : '') : '' %>>DF</option>
                                    <option class="option" value="ES" <%= usuario ? (usuario.estado == "ES" ? 'selected' : '') : '' %>>ES</option>
                                    <option class="option" value="GO" <%= usuario ? (usuario.estado == "GO" ? 'selected' : '') : '' %>>GO</option>
                                    <option class="option" value="MA" <%= usuario ? (usuario.estado == "MA" ? 'selected' : '') : '' %>>MA</option>
                                    <option class="option" value="MG" <%= usuario ? (usuario.estado == "MG" ? 'selected' : '') : '' %>>MG</option>
                                    <option class="option" value="MS" <%= usuario ? (usuario.estado == "MS" ? 'selected' : '') : '' %>>MS</option>
                                    <option class="option" value="MT" <%= usuario ? (usuario.estado == "MT" ? 'selected' : '') : '' %>>MT</option>
                                    <option class="option" value="PA" <%= usuario ? (usuario.estado == "PA" ? 'selected' : '') : '' %>>PA</option>
                                    <option class="option" value="PB" <%= usuario ? (usuario.estado == "PB" ? 'selected' : '') : '' %>>PB</option>
                                    <option class="option" value="PE" <%= usuario ? (usuario.estado == "PE" ? 'selected' : '') : '' %>>PE</option>
                                    <option class="option" value="PI" <%= usuario ? (usuario.estado == "PI" ? 'selected' : '') : '' %>>PI</option>
                                    <option class="option" value="PR" <%= usuario ? (usuario.estado == "PR" ? 'selected' : '') : '' %>>PR</option>
                                    <option class="option" value="RJ" <%= usuario ? (usuario.estado == "RJ" ? 'selected' : '') : '' %>>RJ</option>
                                    <option class="option" value="RN" <%= usuario ? (usuario.estado == "RN" ? 'selected' : '') : '' %>>RN</option>
                                    <option class="option" value="RO" <%= usuario ? (usuario.estado == "RO" ? 'selected' : '') : '' %>>RO</option>
                                    <option class="option" value="RR" <%= usuario ? (usuario.estado == "RR" ? 'selected' : '') : '' %>>RR</option>
                                    <option class="option" value="RS" <%= usuario ? (usuario.estado == "RS" ? 'selected' : '') : '' %>>RS</option>
                                    <option class="option" value="SC" <%= usuario ? (usuario.estado == "SC" ? 'selected' : '') : '' %>>SC</option>
                                    <option class="option" value="SE" <%= usuario ? (usuario.estado == "SE" ? 'selected' : '') : '' %>>SE</option>
                                    <option class="option" value="SP" <%= usuario ? (usuario.estado == "SP" ? 'selected' : '') : '' %>>SP</option>
                                    <option class="option" value="TO" <%= usuario ? (usuario.estado == "TO" ? 'selected' : '') : '' %>>TO</option>
                                </select>
                            </div>
                            <div class="column" id="columnCidade">
                                <label for="cidade">Cidade <span class="required">*</span></label>
                                <input 
                                    type="text" 
                                    name="cidade" 
                                    id="cidade" 
                                    class="campo readonly"
                                    value="<%= usuario ? usuario.cidade : '' %>"
                                    required 
                                    readonly
                                >
                            </div>
                        </div>
                        <div class="row-btn">
                            <% if(usuario) { %>
                                <button type="button" id="btnEnviarSenha" class="btn btn-padrao">
                                    <span>Enviar senha</span>
                                </button>
                            <% } %>

                            <button type="submit" id="btnSalvar" class="btn btn-padrao">
                                <span>Salvar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <script src="/assets/utils/cep.js"></script>
    <script src="/assets/js/usuarios/cadastro.js"></script>
</body>